.quote{
    position: relative;
    width: 100%;
}
.pop-up{
    position: absolute;
    z-index: 88;
    background: #fff;
    text-align: center;
    width: 800px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}